/*
Styles file for Rizzle Spizzle's site, written by Samuel Kent
Started on 27th December 2019
(Not finished)
*/

/*
=============================
===== Mobile CSS Styles =====
=============================
*/

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-size: 1.6em;
    font-family: "Ubuntu", sans-serif;
}

header{
    text-align: center;
    padding: 30% 0px 30% 0px;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.3);
}

main section{
    text-align: center;
    padding: 10%;
    transition: ease-in-out 220ms;
    background-color: rgba(0, 0, 0, 0.3);
}

main section:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Styling for the SVG */
svg#animation-dump{
    position: fixed;
    top: 0px;
    z-index: -1;
}

svg line.line{
    stroke:rgb(255,0,0);
    stroke-width:1;

}

div#site-dump{
    display: inline;
}

main#about-me section{
    font-size: medium;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.4);
}

main#about-me img{
    margin: auto;
    width: 60%;
    border-radius: 50%;
}

main#university-work section{
    font-size: medium;
    padding: 2%;
}

main#personal-projects section{
    font-size: medium;
    padding: 2%;
}

main#contact form p{
    margin: 4%;
}

main#contact form span.form-input-label{
    font-size: medium;
    display: block;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px;
}

main#contact form span.form-input-description{
    font-size: small;
    color: rgba(255, 255, 255, 0.685);
    display: block;
    padding: 2%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

main#contact form .input{
    font-size: small;
    color: rgba(255, 255, 255, 0.685);
    display: block;
    width: 100%;
    padding: 2%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

/*
=============================
===== Tablet CSS Styles =====
=============================
*/

@media only screen and (min-width: 400px) {
    header{
        padding: 25% 0px 25% 0px;
    }

    main section{
        padding: 6%;
    }

    main#about-me section{
        padding: 4%;
    }
    
    main#about-me img{
        width: 15%;
    }

    main#contact form span.form-input-label{
        font-size: 0.7em;
    }
    
    main#contact form span.form-input-description{
        font-size: 0.7em;
    }
    
    main#contact form .input{
        font-size: 0.7em;
    }
}

/*
==============================
===== Desktop CSS Styles =====
==============================
*/

@media only screen and (min-width: 800px) {
    header{
        padding: 14%;
    }

    main div.float{
        width: 33%;
        height: auto;
        float: left;
        margin: auto;
    }

    main div.unfloat{
        float: none;
    }

    main section{
        padding: 10%;
    }

    main#about-me section{
        padding: 8%;
    }
    
    main#about-me img{
        width: 25%;
    }

    main#contact form{
        margin: auto;
        max-width: 1000px;
    }

    main#contact form span.form-input-label{
        font-size: 0.8em;
    }
    
    main#contact form span.form-input-description{
        font-size: 0.8em;
    }
    
    main#contact form .input{
        font-size: 0.8em;
    }
}