/*
Styles file for Rizzle Spizzle's site, written by Samuel Kent
Started on 27th December 2019
(Not finished)
*/

/*
=============================
===== Mobile CSS Styles =====
=============================
*/

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-size: 1.6em;
    font-family: "Ubuntu", sans-serif;
}

header{
    text-align: center;
    padding: 30% 0px 30% 0px;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.3);
}

main section{
    text-align: center;
    padding: 10%;
    transition: ease-in-out 220ms;
    background-color: rgba(0, 0, 0, 0.3);
}

main section:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Styling for the SVG */
svg#animation-dump{
    position: absolute;
    top: 0px;
    z-index: -1;
}

svg line.line{
    stroke:rgb(255,0,0);
    stroke-width:1;

}

/*
=============================
===== Tablet CSS Styles =====
=============================
*/

@media only screen and (min-width: 500px) {

}

/*
==============================
===== Desktop CSS Styles =====
==============================
*/

@media only screen and (min-width: 800px) {

}